
<!-- the website -->
<h1>Register to Beersheba advisor!</h1>
<div>
    <form name="RegisterForm" ng-submit="submit()" novalidate>
        <!-- TODO conditions -->
<!--        TODO CHANGE TO REQUIRED-->
        <input type="text" name="uname" ng-model="uname" placeholder="User name" ><br>
        <input type="text" name="fname" ng-model="fname" placeholder="First name" ><br>
        <input type="text" name="lname" ng-model="lname" placeholder="Last name" ><br>
        <input type="text" name="city" ng-model="city" placeholder="city" ><br>
        <input type="text" name="country" ng-model="country" placeholder="country" ><br>
        <input type="text" name="password" ng-model="password" placeholder="password" ><br>
        <input type="text" name="email" ng-model="email" placeholder="email" ><br>
        <!-- <span ng-show="RegisterForm.first_name.$error.required">This is required! </span> -->
        <!-- <span ng-show="loginForm.uname.$error.minlength">Minimum length is 4 </span> -->
        <!-- <span ng-show="loginForm.uname.$invalid">Invalid field</span><br><br> -->
        <input ng-disabled="RegisterForm.$invalid" type="submit" id="submit" value="Submit" ng-click="register()">
    </form>
    <input ng-model="result">

    <ul>
        <li ng-repeat="x in questionsList">
            {{x}}
        </li>
    </ul>


    <div ng-app="" ng-init=showQuestions()>
        <ul>

            {{q0}}
            <input type="text" name="a0" ng-model="a0" placeholder="answer" ><br>
            {{q1}}
            <input type="text" name="a1" ng-model="a1" placeholder="answer" ><br>{{q0}}
            {{q2}}
            <input type="text" name="a2" ng-model="a2" placeholder="answer" ><br>{{q0}}
            {{q3}}
            <input type="text" name="a3" ng-model="a3" placeholder="answer" ><br>
        </ul>

    </div>
</div>