
<!-- the website -->
<h1>forgot your password? <br> we can help you!</h1>
<div >
    <form name="restoreForm" ng-submit="submit()" novalidate>
        <input type="text" name="uname" ng-model="uname" placeholder="enter username" required>
        <input ng-disabled="restoreForm.$invalid" type="submit" id="sub" value="Submit" ng-click="get_validation_questions()"><br>
    </form>
</div>

<select ng-model="question" ng-show = "submitted" ng-hide="!submitted" ng-options ="item for item in allUserQuestions">
    <option value="" disabled selected hidden>Select question</option>
<!--    <option [ng-Value]="null"> select </option>-->

</select>
<!--"question == null"-->
<input type="text" ng-model="answer" ng-hide="question == null">
<button ng-click="getPassword()"ng-hide = "question == null">get password </button>
<!--<br>-->
<!--<p ng-show ="valid">Your password is:  {{password}}</p>-->


