<html>
<head>
    <title>My Website</title>
</head>
<body ng-app="myApp">
<!-- load angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

<!-- load app -->
<script src="../app.js"></script>

<!-- load controllers -->
<script src="loginController.js"></script>

<!-- the website -->
<h1>Login</h1>
<div ng-controller="loginController">
    <form name="Loginform" ng-submit="submit()" novalidate>
        <!-- TODO conditions -->
        <input type="text" name="uname" ng-model="uname" placeholder="User name" required><br>
        <input type="text" name="password" ng-model="password" placeholder="password" required ><br>
        <input ng-disabled="Loginform.$invalid" type="submit" id="submit" value="Submit" ng-click="login()">
        <input ng-model="result">
    </form>





</div>
</body>
</html>