<h1>your saved points of interest!</h1>
<!--<input type="text" name="poiname" ng-model="poiname" placeholder="enter POI name" required >-->
<!--<Button type="submit" id="searchpoi" ng-click="search()">search</Button>-->
<!--<br>-->
<!--<input type="checkbox" ng-model="cat1filter" ng-click="getPoi1()">Culture<br>-->
<!--<input type="checkbox" ng-model="cat2filter" ng-click="getPoi2()">Food<br>-->
<!--<input type="checkbox" ng-model="cat3filter" ng-click="getPoi3()">Nightlife<br>-->
<!--<input type="checkbox" ng-model="cat4filter" ng-click="getPoi4()">Shopping<br>-->

<!--<ng-model> = "requestedPOIname"-->
<!--<ng-model> = "requestedPOIpicture"-->

