<h1>your saved points of interest!</h1>
<div class = "counter" ng-init = showFavoritesNumber()>
move number of favorites to top: {{counter}}
</div>

<div class = "favorites" ng-init = "showAllFavorites()">
    <ul>
        <li ng-repeat="x in result">
            {{ x.name }}
            <br>
            <img ng-src = "{{x.Picture}}" height="100px" width="100px">

        </li>

    </ul>
</div>


<div>
    <select id="sortBy" ng-model="sortBy" >
        <option> Rating </option>
        <option> Category </option>
    </select>
    <input type="submit" id="submit" value="Submit" ng-click="sort()">
</div>
