<h1>your saved points of interest!</h1>
<div class = "counter" ng-init = showFavoritesNumber() ng-show = "counter>0">
You saved {{counter}} points of interest!
</div>
<div ng-show = "counter==0">
    You have not saved any points of interest yet! please click <a href = "#!POI">here</a> to visit our special places!


</div>

<div class = "favorites" ng-init = "showAllFavorites()">
    <ul>
        <li ng-repeat="x in result">
            {{ x.name }}
            <br>
            <img ng-src = "{{x.Picture}}" height="100px" width="100px">
            <p class="name" ng-click="showDetails(x)">{{x.name}}</p>

        </li>

    </ul>
</div>


<div>
    <select id="sortBy" ng-model="sortBy" >
        <option> Rating </option>
        <option> Category </option>
    </select>
    <input type="submit" id="submit" value="Submit" ng-click="sort()">
</div>
